datastore.dat
oauth_client_secret
plus-dogfood.json
private_notes
facebook_app_id
facebook_app_secret
facebook_app_id_local
facebook_app_secret_local
googleplus_client_id
googleplus_client_secret
googleplus_client_id_local
googleplus_client_secret_local
tumblr_app_key
tumblr_app_secret
twitter_app_key
twitter_app_secret
