[submodule "activitystreams"]
	path = activitystreams
	url = git@github.com:snarfed/activitystreams-unofficial.git
[submodule "google-api-python-client"]
	path = google-api-python-client
	url = git@github.com:musicmetric/google-api-python-client.git
