<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Freedom</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="header">
  <!-- <a href="/"><img id="logo" src="/static/facebook_rss_small.jpg"></img></a> -->
  <p id="title"><span>Freedom</span></p>
</div>

<p>Freedom lets you copy your Facebook, Twitter or Google+ posts to a blog of
your choice. Seize your freedom!</p>

<div id="dest">
  <form method="post" action="/wordpress/add">
    <table><tr><td>
          <label for="xmlrpc_url">Base URL</label>
        </td><td>
          <input id="url" name="url" type="text" />
      </td></tr><tr><td>
          <label for="xmlrpc_url">XMLRPC URL</label>
        </td><td>
          <input id="xmlrpc_url" name="xmlrpc_url" type="text" />
    </td></tr></table>
    <input type="submit" value="Add Wordpress">
  </form>
</div>

<div id="source">
<form method="post" action="/generate" style="text-align: center">
<input type="image" alt="Get my feed" src="/static/facebook_get_my_feed.png" />
</form>
</div>

<div id="bottom"></div>

<div id="footer">
  <a href="http://snarfed.org/about">Questions?</a>
  | <a href="https://github.com/snarfed/freedom">Source</a>
  | <a href="http://code.google.com/appengine/">
      <img src="/static/appengine_button_noborder.gif" /></a>
</div>

</body>
</html>
