<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Freedom</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="header">
  <!-- <a href="/"><img id="logo" src="/static/facebook_rss_small.jpg"></img></a> -->
  <p id="title"><span>
    Migrating {{ migration.source.name }} from {{ migration.source.kind }}
    to {{ migration.dest.xmlrpc_url }}</span></p>
</div>

<div>
foo
</div>

<div id="bottom"></div>

<div id="footer">
  <a href="http://snarfed.org/about">Questions?</a>
  | <a href="https://github.com/snarfed/freedom">Source</a>
  | <a href="http://code.google.com/appengine/">
      <img src="/static/appengine_button_noborder.gif" /></a>
</div>

</body>
</html>
