<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Freedom</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

{{ message }}

<div id="header">
  <!-- <a href="/"><img id="logo" src="/static/facebook_rss_small.jpg"></img></a> -->
  <p id="title"><span>
    Migrating {{ migration.source.display_name }}
    ({{ migration.source.type_display_name }})
    to {{ migration.dest.display_name }}
    ({{ migration.dest.type_display_name }})
    </span></p>
</div>

<p>
{% if migration.stopped %}
PAUSED.
<form method="post" action="/migration/{{ migration.id }}/resume">
  <input type="submit" value="Resume">
</form>
{% else %}
<form method="post" action="/migration/{{ migration.id }}/stop">
  <input type="submit" value="Stop">
</form>
{% endif %}
</p>

{% for status, entities in migratables.items %}
<ul>
  {% for e in entities %}
  <li>{{ e.kind }} {{ e.id }} {{ status }}</li>
  {% endfor %}
</ul>
{% endfor %}

<div id="bottom"></div>

<div id="footer">
  <a href="http://snarfed.org/about">Questions?</a>
  | <a href="https://github.com/snarfed/freedom">Source</a>
  | <a href="http://code.google.com/appengine/">
      <img src="/static/appengine_button_noborder.gif" /></a>
</div>

</body>
</html>
